body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
header{ 

	background: #f1faee;
	margin: 5px;
	padding: 5px 15px 5px 15px;
	height: 10vh;
	width: auto;
	display: flex;
	justify-content: space-between;
	border: 0.5px outset white;

}
#logo_header a{

	width: 12vw;
	height: 10vh;
	display: flex;
	align-self: center;
}

#logo_header a img {
	width: 100%;
	height: auto;
}
#search_bar_header{
	width: 40vw;
	height: 7vh;
	align-self: center;

}

#search_bar_header form{
	width: 100%;
	height: 100%;
	display: flex;
}
#search_bar_header input[type=text] {
	
  	width: 100%;
  	font-size: 20px;
  	font-style: italic;
  	padding: 10px;
  	border-radius: 10px 0 0 10px;
  	outline: none;
  	border: 0.2px solid #e63946;
  	border-right: 0px;
}
#search_bar_header button {
	width: 7%;
  	background: #ddd;
  	font-size: 17px;
  	border: 0.2px solid #e63946;
  	border-left: 0px;
  	border-radius: 0 10px 10px 0;
  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	padding: 2px;
}

#search_bar_header button img{
	width: 100%;
	max-height: 100%;
}
#buttons_header{
	align-self: center;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

#buttons_header button {
	margin: 5px;
	width: auto;
  	border: 0.2px solid #e63946;
  	border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
  	cursor: pointer; 
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
}
#buttons_header button:hover{
	background-color: #e63946;
	color: white;
}

#buttons_header #button_head_compte {
	display: flex;
	justify-content: center;

}


#section_main{
	margin: 5px;
	display: flex;
	align-items: stretch;

}
#section_title {
	vertical-align: middle;
	text-align: center;
	background: #e63946;
	width: 100%;
	height: 5vh;
	color:  white;
	font-size: 20px;
	font-weight: bold;
}
#section_center{
	height: auto;
	width: auto;
	flex: 3;
	display: block;
	margin-right: 5px;
	border: 0.5px outset lightgray;
}
#section_center a {
	display: block;
  	color: #000;
  	text-decoration: none;
}

#section_categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
  display: flex;


}

#section_categories li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  flex: 1;
  border : 0.5px outset #e52938;
  border-width: 0 0.5px 0 0;
  font-weight: bold;
}

#section_categories li a:hover {
  background-color: #c7dadb;
  color: #e52938;

}

#section_categories .nbr_ads{
	color: #e52938;
	background-color: #ffbc5e;
	border-radius: 60%;
	padding: 2px;
	width: auto;
	height: auto;
	text-align: center;
	float:right;
	margin-left: 3px;

}



#section_popular_ads {
	margin: 5px;
	display: flex;
	background-color: white;
}


.ads {
	width: 13vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
    border: 0.5px outset lightgray;
    position: relative;
    margin-right: 2px;
}
.ads:hover {
	opacity: 0.9;
}
.ads .img_ads{
	z-index: 1;
	display: block;
	width: auto;
	height: auto;
	overflow: hidden;
	background-color: white;
}
.ads .img_ads img{
	
	width: auto;
	max-height: 100%;
}
.ads .title_ads{
	text-align: center;
	width: 100%;
	height: auto;
	color: white;
	align-self: center;
	background: #e52938;
	font-size: 15px;
}

.ads .date_ads{
	text-align: center;
	background: lightgray;
	align-self: center;
	width: 100%;
	height: 3vh;
	border : 0.5px outset #e52938;
 	border-width: 0.5px 0 0 0;


}
.ads .date_ads :first-child{
	float: left;
	margin-left: 5px;
}

.ads .date_ads :nth-child(2n){
	float: right;
	margin-right: 5px;
}

.ads .price_ads{
	display: block;
	padding: 3px;
	margin: 10px;
	align-self: flex-end;
	width: auto;
	height: auto;
	color: white;
	right: 0;
	top: 0;
	position: absolute;
	background: #e63946;
	border-radius: 8px;
	opacity: 0.95;
	z-index: 2;
	font-weight: bold;
}

#section_ads {
	display: block;
	
}
#section_ads:nth-child(even){
	background-color: red;
}
#section_search_filter{
	padding: 5px;
	display: flex;
	flex-direction: column;
	margin: 5px;

}
#section_search_filter form{
	padding: 2px;
	display: flex;
	flex-wrap: wrap;

}

#section_search_filter form > * {
        width: 14%;
        height: auto;
        margin: 1px;
}

#button_filter , #button_reset{
	margin: 5px;
	width: auto;
  	border: 0.2px solid #e63946;
  	border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
  	cursor: pointer; 
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
}
#button_filter:hover{
	background-color: #e63946;
	color: white;
}
.aside_ad {
	background-color: white;
	display: flex;
	height: 30vh;
	width: auto;
	padding: 10px;
	border: 0.5px solid black;

}

.aside_ad .annonceur_div {
	display: block;
	height: 100%;
	width: 20%;
	border: 0.5px outset lightgray;
}


.aside_ad .annonceur_div .annonceur_ville{
	text-align: center;
	height: 10%;
	width: 100%;
	font-weight: bold;
}
.aside_ad .annonceur_div .diff_date_pub{
	text-align: center;
	height: 10%;
	width: 100%;
	background-color: lightgray;
	
}
.aside_ad .annonceur_div a{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 80%;
	background-color: white;
}
.aside_ad .annonceur_div .annonceur_nom {
	text-align: center;
	background-color: #e52938;
	width : 100%;
	height: auto;
	font-weight: bold;
	color: #ffe08c;
	
}
.ann_photo {
	display: block;
	width: auto;
	height: 90%;
	overflow: hidden;
	background-color: white;
}
.aside_ad .annonceur_div a img{
	max-height: 100%;
	width: 100%;
	
}
.aside_ad .ad_desc {
	display: flex;
	width: 80%;
}
.aside_ad .ad_desc .ad_caracts{
	padding: 10px;
	display: block;
	height: auto;
	flex: 3;
	position: relative;
}
.aside_ad .ad_desc .ad_caracts .ad_price{
	position: absolute;
	bottom:0;
  	right:0;
  	color: red;
  	margin: 5px;
  	font-weight: bold;
  	font-size: 20px;
}


.ad_title{
	font-size: 20px;
	font-weight: bold;
	color: black;
	align-self: flex-start;
	text-decoration: underline;

}
.aside_ad .ad_desc img{
	width: 25%;
	
}

#aside_right{
	height: auto;
	flex: 0.8;
	display: flex;
	flex-direction: column;
  	align-items: center; 
  	background-color: #f1faee;
  	border: 0.5px inset white;


}

#aside_right a{
	display: block;
  	color: #000;
  	border-width: 0 0 0.5px 0;
  	

}
.table_stats{
	width: 95%;
	height: auto;
	margin: 2px;

}
.title_right{
	font-weight: bold;
	font-size: 15px;
	margin: 2px;
}
.table_stats table {
	border-collapse: collapse;
	border: 0.5px outset black;
  	width: 100%;
  	font-size: 16px;
  	background-color: white;
}

.table_stats th, td {
  	text-align: left;
  	padding: 8px;
  	border-style: none;
  	
}

.table_stats tr:nth-child(even){
	background-color: #fff0c6;
}

.table_stats th {
	text-align: center;
  	background-color: #e8dcdd;
	color: #e52938;
}

footer{
	height: 10%;
	margin: -15px 5px 5px 5px;
	background: #f1faee;
	display: flex;
    justify-content: center;
	width: auto;

}