body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}
header{ 

	background: gray;
	margin: 5px;
	padding: 5px 15px 5px 15px;
	height: 10vh;
	width: auto;
	display: flex;
	justify-content: space-between;

}
#logo_header a{

	width: 12vw;
	height: 10vh;
	display: flex;
	align-self: center;
}

#logo_header a img {
	width: 100%;
	height: auto;
}
#search_bar_header{
	width: 40vw;
	height: 7vh;
	align-self: center;

}

#search_bar_header form{
	width: 100%;
	height: 100%;
	display: flex;
}
#search_bar_header input[type=text] {
	
  	width: 100%;
  	font-size: 17px;
  	font-style: italic;
  	padding: 10px;
  	border-radius: 10px 0 0 10px;
  	outline: none;
  	border: none;
}
#search_bar_header button {
	width: 7%;
  	background: #ddd;
  	font-size: 17px;
  	border: none;
  	border-radius: 0 10px 10px 0;
  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	padding: 2px;
}

#search_bar_header button img{
	width: 100%;
	max-height: 100%;
}
#buttons_header{
	align-self: center;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

#buttons_header button {
	margin: 5px;
	width: auto;
  	border: 2px solid black;
  	border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
  	cursor: pointer; 
	padding: 5px;
}

#buttons_header #button_head_compte {
	display: flex;
	justify-content: center;

}

#section_main{
	margin: 5px;
	display: flex;
	align-items: stretch;

}
#section_title {
	vertical-align: middle;
	text-align: center;
	background: gray;
	width: 100%;
	height: 5vh;
}

#section_center{
	
	border: 1px solid black;
	height: auto;
	width: auto;
	flex: 3;
	display: flex;
	align-items: center;
	padding: 10px;
}

#section_center img{
	width: 50%;
	height: 50%;
	margin: 0 40px 0 40px;
}
#aside_right{
	border: 1px solid black;
	height: auto;
	flex: 0.8;
	display: flex;
	flex-direction: column;
  	align-items: center; 

}

.table_stats{
	border: 1px solid black;
	width: 95%;
	height: auto;
	margin: 2px;

}
.table_stats table {
  	border-collapse: collapse;
  	width: 100%;
}

.table_stats th, td {
  	text-align: left;
  	padding: 8px;
}

.table_stats tr:nth-child(even){
	background-color: #f2f2f2
}

.table_stats th {
	text-align: center;
  	background-color: #4CAF50;
  	color: white;
}

footer{
	margin: 5px;
	border: 1px solid black;
	background: blue;
	display: block;
	width: auto;
}