body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
header{ 

	background: #f1faee;
	margin: 5px;
	padding: 5px 15px 5px 15px;
	height: 10vh;
	width: auto;
	display: flex;
	justify-content: space-between;
	border: 0.5px outset white;

}
#logo_header a{

	width: 12vw;
	height: 10vh;
	display: flex;
	align-self: center;
}

#logo_header a img {
	width: 100%;
	height: auto;
}
#search_bar_header{
	width: 40vw;
	height: 7vh;
	align-self: center;

}

#search_bar_header form{
	width: 100%;
	height: 100%;
	display: flex;
}
#search_bar_header input[type=text] {
	
  	width: 100%;
  	font-size: 20px;
  	font-style: italic;
  	padding: 10px;
  	border-radius: 10px 0 0 10px;
  	outline: none;
  	border: 0.2px solid #e63946;
  	border-right: 0px;
}
#search_bar_header button {
	width: 7%;
  	background: #ddd;
  	font-size: 17px;
  	border: 0.2px solid #e63946;
  	border-left: 0px;
  	border-radius: 0 10px 10px 0;
  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	padding: 2px;
}

#search_bar_header button img{
	width: 100%;
	max-height: 100%;
}
#buttons_header{
	align-self: center;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

#buttons_header button {
	margin: 5px;
	width: auto;
  	border: 0.2px solid #e63946;
  	border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
  	cursor: pointer; 
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
}
#buttons_header button:hover{
	background-color: #e63946;
	color: white;
}

#buttons_header #button_head_compte {
	display: flex;
	justify-content: center;

}



#section_main{
	margin: 5px;
	display: flex;
	align-items: stretch;

}
#section_title {
	vertical-align: middle;
	text-align: center;
	background: #e63946;
	width: 100%;
	height: 5vh;
	color:  white;
	font-size: 20px;
	font-weight: bold;
}


#section_center{
	margin-right: 5px;
	border: 1px outset lightgray;
	height: auto;
	width: auto;
	flex: 3;
	display: block;
	padding: 10px;
}

#section_center div {
	padding: 2px;
}
.ann_name{
	font-size: 20px;
	font-weight: bold;
}

.ann_caract {

}

#section_ads{
 	display: grid;
	grid-gap: 2px;
	grid-column-gap: 2px;
	grid-template-columns: auto auto;

}
.aside_ad {
	display: flex;
	height: 30vh;
	width: auto;
	padding: 10px;
	border: 0.5px outset lightgrey;
}

.aside_ad .ad_desc {
	display: flex;
	width: 100%;
}
.aside_ad .ad_desc .ad_caracts{
	padding: 15px;
	display: block;
	height: auto;
	flex: 3;
	position: relative;
}
.aside_ad .ad_desc .ad_caracts .ad_price{
	position: absolute;
	bottom:0;
  	right:0;
  	color: red;
  	margin: 5px;
  	font-size: 20px;
  	font-weight: bold;
}


.ad_title a {
	font-size: 20px;
	font-weight: bold;
	color: black;
	align-self: flex-start;
}
.aside_ad .ad_desc img{
	width: 25%;
	
}

.ann_caract{
	font-weight: bold;

}
#aside_right{
	height: auto;
	flex: 0.8;
	display: flex;
	flex-direction: column;
  	align-items: center; 
  	background-color: #f1faee;
  	border: 0.5px inset white;


}

#aside_right a{
	display: block;
  	color: #000;
  	border-width: 0 0 0.5px 0;
  	

}
.table_stats{
	width: 95%;
	height: auto;
	margin: 2px;

}
.title_right{
	font-weight: bold;
	font-size: 15px;
	margin: 2px;
}
.table_stats table {
	border-collapse: collapse;
	border: 0.5px outset black;
  	width: 100%;
  	font-size: 16px;
  	background-color: white;
}

.table_stats th, td {
  	text-align: left;
  	padding: 8px;
  	border-style: none;
  	
}

.table_stats tr:nth-child(even){
	background-color: #fff0c6;
}

.table_stats th {
	text-align: center;
  	background-color: #e8dcdd;
	color: #e52938;
}

footer{
	height: 10%;
	margin: -15px 5px 5px 5px;
	background: #f1faee;
	display: flex;
    justify-content: center;
	width: auto;

}